[submodule "Vendors/spdlog"]
	path = Vendors/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vendors/GLM"]
	path = Vendors/GLM
	url = https://github.com/g-truc/glm.git
[submodule "Vendors/yaml-cpp"]
	path = Vendors/yaml-cpp
	url = https://github.com/alexandrelugand/yaml-cpp.git
[submodule "Vendors/ImGuizmo"]
	path = Vendors/ImGuizmo
	url = https://github.com/alexandrelugand/ImGuizmo.git
[submodule "Vendors/Box2D"]
	path = Vendors/Box2D
	url = https://github.com/alexandrelugand/box2D.git
