# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!Vendors/**/*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.log
Sandbox/**/*.json

# Folders
bin
bin-int
!Vendors/**/*.exe
!Vendors/**/*.a
!Vendors/**/*.dll
Scripts/__pycache__
Vendors/VulkanSDK
**/assets/cache/**

# Makefiles
Makefile

# Visual studio
.vs
*.sln
*.vcxproj
*.vcxproj.*

# LuckyEditor
LuckyEditor/assets/scenes
