# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!Vendors/**/*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.log
Sandbox/**/*.json

# Folders
obj
bin
bin-int
Intermediates
!Vendors/**/*.exe
!Vendors/**/*.a
!Vendors/**/*.dll
Scripts/__pycache__
Vendors/VulkanSDK
**/assets/cache/**

# Makefiles
Makefile

# Visual studio
.vs
*.sln
*.vcxproj
*.Web.vcxproj
*.vcxproj.*
*.Web.vcxproj.*
*.csproj.*

# LuckyEditor
/Browser/BlazorLuckyEditor/obj
/Browser/BlazorLuckyEditor/SWIG/Bootstrapper.cs
/Browser/BlazorLuckyEditor/SWIG/LuckyEditor.cs
/Browser/BlazorLuckyEditor/SWIG/LuckyEditorPINVOKE.cs
/Browser/BlazorLuckyEditor/wwwroot/assets
/Browser/BlazorLuckyEditor/wwwroot/resources
/LuckyEditor/resources/Scripts

#Mono
!Vendors/Mono/**
!LuckyEditor/mono/**
