@page "/"
@using BlazorLuckyEditor.Interfaces.Services
@inject IJSRuntime JsRuntime
@inject IBootstrap Bootstrap

<PageTitle>Lucky Editor</PageTitle>

<h3>Lucky Editor</h3>
<canvas id="canvas" oncontextmenu="event.preventDefault()" width="1280" height="720"></canvas>

@code {

	protected override Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			JsRuntime.InvokeVoidAsync("Browser.init");
			Bootstrap.Init();
		}
		return Task.CompletedTask;
	}
}
