@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Lucky Editor</PageTitle>

<h1>Lucky Editor</h1>
<canvas id="canvas" oncontextmenu="event.preventDefault()" width="1280" height="720"></canvas>

@code {
	private Bootstrapper? Bootstrapper { get; set; }

	protected override Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			JsRuntime.InvokeVoidAsync("Browser.init");
			Bootstrapper = new Bootstrapper();
			Bootstrapper.Init();
		}
		return Task.CompletedTask;
	}
}
